<body>
<h1>Mountains Index</h1>
<ul>
<% @mountains.each do |mtn| %>
    <li><a href="/mountains/<%= mtn.id%>"><%= mtn.id %>. <%= mtn.name %> - <%= mtn.elevation %></a>
    </li>
<%end%>
</ul><br>
<a href="/mountains/new">Add A Mountain</a><br><br>
<a href="/users/<%= current_user.id %>">Back To Your Portfolio</a>

</body>